body{
	margin:0px;
	padding:0px;
	font-family: Verdana,sans-serif;
	height:100%;
		background-color:#ffffff;

}

#container{
	
	height: 80%;
	
	background-color:#ffffff;
	margin:0px;
	padding:0px;
	
	
}

#header{
		background-color:#8AC007;
		height:45px;
		text-align:center;
		
		  width: 85.9%;
  float: left;
		line-height: 45px;  
	
}

#def_car{
		background-color:#304F54;
	height:45px;
		text-align:center;
		width:100%;
		color:#F7F7F7;
		line-height: 45px;  
		  position: relative;
    display:inline-block;
	
}

#footer{
	width:100%;
	bottom:1px;
	height:5px;
	text-align: center;
	line-height: 15px;
	color:#140b14;
	position: relative;
	
}
.box{
	width:40%;
	height:135px;
	line-height: 135px;
	text-align:center;
	margin-left:15px;
	margin-right:15px;
	margin-top:20px;
	margin-bottom:20px;
	 border: 1px solid;
    border-radius: 5px;
		border-color: #69B8C2; 
		color:#F7F7F7;  
}
.three_boxes{
	width:24.5%;
	height:85px;
	line-height: 85px;
	text-align:center;
	margin-left:13px;
	margin-right:13px;
	margin-top:20px;
	margin-bottom:20px;
	 border: 1px solid;
    border-radius: 5px;
		border-color: #69B8C2;
		font-size:5px;
		
		color:#F7F7F7;
		float:left; 
}
#box2{
 	float:right; 
}
#box1{
	float:left;
}
.form{
	color:#29808A;
	padding:7px;
	  position: relative;
    display:inline-block;
      width: 95%;

}
 li{
	
	height:55px;
	width:100px;
	line-height: 15px;
	
}


.trans{
	width: 70%;
  height: 45px;
/* 	  background-color: Transparent; */
            background-repeat:no-repeat;
            border: 1px solid;
    border-radius: 5px;
/* 		border-color: #69B8C2; */
		
		background: #fff;
  	 color:#8AC007;
		
           
}
.tab_width{
width:42%;
float:left;
}
ul li{
	width:100%;
	  line-height: 55px;
	 
}
#adding_fuel input{
	width:45%;
	padding:0px;
	margin:0px;
}

.circular {
	width: 300px;
	height: 300px;
	border-radius: 150px;
	border: 1.5px solid #8AC007;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background-color:#ffffff;
	}
	.circle
{
	margin:12px;
width:40%;
height:85%;
border-radius:50%;
font-size:15px;
color:#8AC007;
border: 1.5px solid #8AC007;
line-height:130px;
text-align:center;
float:left;
background:#fff
}

#middle_circle{
	width:100%;
	height:85%;
	margin-left:24%;
}
#reminders{
	float:right;

	
}
#logs{
		float:left;
		padding-left:20px;

}

ul{
	list-style-type: none;
	padding-left: 10px;
	  margin-top: 0px;
}
.but{
	margin:3.5%;
}
.buttons{
	width:50%;
	
	float:left;
	text-align: center;
}
#height_setting{
	  height: 230px;
  overflow-y: scroll;
  width: 100%;
 
  
}
.bgcolor{

	 border-bottom: 1px solid;
 border-bottom-color: #000; 
 
		
}
.bgcolor1{
	 border-bottom: 1px solid;
 border-color: #000; 
 font-variant:small-caps; 

	}
	
	#reminders{
	line-height: 5px;
	
	}
	img{
	width:45px;
	 
	height:45px;
	}
	

	
input{
	margin:5px;
	
}
.form input{
	width: 50%;
}

.menu {
	height:40px;
		  position: relative;
    display:inline-block;
	
		text-align:center;
		width:100%;
		
		line-height: 40px;  
	
}




#list1{
	height:370px;
	overflow:scroll;
	
}
#list3{
height:370px;
	overflow:scroll;
} 
#list2{
height:370px;
	overflow:scroll;
}


.log_li_bottom ul li{
		 border-bottom: 1px solid;
 border-color: #000; 
}
.li_wid li{
	margin:5px;
	line-height: 40px;
	text-align:center;
}
.li_wid div{
	width:29.5%;
	float:left;
	margin:5px;
	line-height: 40px;
	text-align:center;


}
.li_wid{
	width:100%;
	
}
.li_wid1{
	width:100%;
	height:40px;
	
}


.li_wid1 div{
	width:29.5%;
	float:left;
	margin:5px;
	line-height: 40px;
	text-align:center;
	color:#8AC007;

}
